.deleted-note.note-outer {
	border: 1px dotted #a9a9a9;
	background-color: #f1f1f1;
}

.deleted-note .note-title {
	background-color: #f1f1f1;
	color: #a9a9a9;
	font-family: "Segoe UI", arial, sans-serif;
	font-weight: 400;
	font-size: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}