.more-button {
  width: 100%;
  height: 40px;
  cursor: pointer;
}

@media only screen and (max-device-width: 768px) {
  .more-button {
    height: 51px;
    font-size: 14px;
  }

  .more-button-container {
    margin: 4px;
  }
}