.placeholder {
    color: #a9a9a9;
}

.note-outer {
    margin: 16px;
    padding: 16px;
    background-color: white;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.note-title-container {
    margin-top: 4px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.note-title {
    font-family: "Segoe UI", arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    padding: 4px 8px 16px 8px;
    width: 100%;
    border: none;
    outline: none;
    color: #000000;
    text-overflow: ellipsis;
    flex: 2;
}

.note-title-progress {
    margin-right: 8px;
}

.note-error {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.note-error-text {
    margin-left: 2px;
    padding: 2px 8px 2px 8px;
    color: #e92967;
    border: none;
    outline: none;
    font-family: "Segoe UI", arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    flex: 2;
    text-overflow: ellipsis;
}

.note-progress {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 16px;
    margin-bottom: 0px;
    text-align: right;
}

.note-text,
textarea.note-text-editable {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    font-family: monospace;
    padding: 4px 8px 2px 8px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    outline: none;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}

div.note-text ul,
div.note-text ol {
    white-space: normal;
    list-style-position: inside;
    display: inline-block;
    width: 100%;
}

div.note-text {
    border: 1px solid #ffffff;
}

textarea.note-text-editable {
    border: 1px solid #e3e3e3;
    resize: vertical;
}

textarea.text-area-short {
    min-height: 300px;
}

textarea.text-area-tall {
    min-height: 600px;
}

div.note-text-editable-container {
    margin: 0px;
    padding: 0px;
    border: none;
}

.note-controlarea {
    margin-top: 8px;
    margin-left: 8px;
    text-align: right;
}

.note-button {
    font-size: 13px;
    color: #a9a9a9;
    margin-left: 4px;
    margin-right: 16px;
    cursor: pointer;
    text-decoration: none;
}

.note-button:hover {
    color: #000000;
}

.codeblock {
    border: 1px dotted #a9a9a9;
    padding: 12px;
    font-size: 12px;
    font-family: monospace;
    overflow-x: auto;
    background: #fbfbfb;
}

.note-save-button {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", arial, sans-serif;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

.markdown-body {
    border: 1px solid #ffffff;
    padding: 4px 8px 2px 8px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    outline: none;
    text-overflow: ellipsis;
}

.note-format-indicator {
    margin-right: 8px;
    font-size: 10px;
    color: #a9a9a9;
}

@media only screen and (max-device-width: 768px) {
    .note-outer {
        margin: 0px;
        border-right: none;
        border-bottom: none;
        padding: 24px;
    }

    .note-text {
        font-size: 14px;
        font-family: Helvetica, sans-serif;
    }

    .note-title {
        font-size: 21px;
    }

    .note-controlarea {
        text-align: center;
        margin-top: 12px;
    }

    .note-button {
        font-size: 14px;
        margin-left: 12px;
        margin-right: 12px;
    }

    .codeblock {
        font-size: 11px;
    }

    textarea.note-text-editable {
        font-size: 14px;
        font-family: Helvetica, sans-serif;
        padding: 14px;
        position: fixed;
        left: 0px;
        top: 51px;
        width: 100%;
        bottom: 0px;
        overflow-y: auto;
        outline: none;
        border: 1px solid white;
    }

    .note-save-button {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 58px;
        z-index: 99999;
        display: block;
        font-size: 21px;
        background: white;
        border: none;
        border-bottom: 1px solid #e3e3e3;
    }
}